

.app-chat{
    .order-1 {
        a{
            color: inherit;
            padding: .5rem 0;
            &:hover{
                color: var(--accent-color);
            }
            .msg-time{
                color: var(--bs-gray-400);
                font-size: 12px;
            }
        }
        @include media-breakpoint-up(lg){
            .user-list{
                height: calc(100vh - 205px);
            }
        }
    }
    .order-2{

    }
    @include media-breakpoint-up(lg) {
        .order-2{
            height: calc(100vh - 130px);
        }
    }
    .card.fullscreen{
        .order-2{
            height: calc(100vh - 10px);
        }
    }
}